<!DOCTYPE HTML>
<html>
    <head>
        <title>Share Palace - Share stuff easy!</title> 
        <link rel="stylesheet" href="../AngularSocial/styles/bootstrap.min.css">
        <link rel="stylesheet" href="../AngularSocial/styles/bootstrap-theme.min.css">       
    </head>
    <body ng-app="app" ng-controller="shareController">
        <div class="container">
            <div class="row text-center">
            <h1>Share Palace</h1>

            <form class="form-horizontal">
                <div class="form-group">
                    <label for="mainContent" class="col-md-2 control-label">Your content</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="mainContent" ng-model="content" placeholder="Your message!">
                    </div>        
                </div>
                <div class="form-group">
                    <label for="mainLink" class="col-md-2 control-label">Your link</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="mainLink" ng-model="link" placeholder="http://www.triona.se/">
                    </div>
                </div>                
            </form>
            <!--<textarea class="form-control text-center" rows="1" style="margin: 15px;" ng-model="content"></textarea>-->

            <!--<input type="text" id="mainLink"></input>-->
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ link }}</h3>
                </div>
                <div class="panel-body">
                    {{ content }}
                </div>                                
            </div>
            <div class="row text-center" style="margin: 15px;">
            <button id="btnFacebook" class="btn btn-large bg-warning" socialshare socialshare-provider="facebook" 
                socialshare-url="https://www.triona.se/">
                Facebook
            </button>
            <button class="btn btn-large bg-danger" socialshare socialshare-text="You should know about Triona!" 
                socialshare-provider="twitter" socialshare-url="https://www.triona.se" socialshare-hashtags="softwareDevelopment">
                Twitter
            </button>
            <button class="btn btn-large bg-info" socialshare socialshare-text="Software by Triona"
                socialshare-provider="linkedin" socialshare-url="https://www.triona.se">
                Linkedin
            </div>
        </div>
    <script type="text/javascript" src="../AngularSocial/scripts/angular.js"></script>
    <script type="text/javascript" src="../AngularSocial/scripts/angular-route.js"></script>    
    <script type="text/javascript" src="../AngularSocial/scripts/angular-socialshare.js"></script>
    <script type="text/javascript" src="../AngularSocial/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="../AngularSocial/scripts/bootstrap.min.js"></script>
    <script>
        var app = angular.module("app", [
            "720kb.socialshare"
        ]);

        
        app.controller("shareController", function($scope){
            // $scope.link = window.location.href;
            $scope.link = "triona.se"
            $scope.content = "Your message!";

            // $("#btnFacebook").attr("socialshare-url", $scope.link);
        });


    </script>
    <!--<script type="text/javascript" src="../AngularSocial/app/app.module.js"></script>-->
    </body>
</html>