<div class="row" style="margin-top: 25px">
    <div id="SelectionList">
        <div id="MockCategoryHeader" class="thumbNailHeaderLine">
            <h5>SDHL</h5>
        </div>
        <!-- Item-Selection-List -->
        <ul id="MockCategoryList" align="center">
            <li class="Item-Content" ng-repeat="item in selectCtrl.resourceList" style="margin-bottom:10px;margin-right:40px">
                <a ng-href="#ItemDetail/{{item.itemID}}">
                    <div class="eventItemThumbnailContainer" style="cursor:pointer"
                         ng-href="#ItemDetail/{{item.itemID}}">
                        <!-- Image -->
                        <figure>
                            <img ng-src="{{item.thumbnail_imgUrl}}" style="height:146px;width:261px;position:relative;border:1px solid lightgrey" />
                        </figure>
                        <!-- Description -->
                        <div id="item-description" class="eventItemThumbnailTitle">{{item.description}}</div>
                        <!-- Date -->
                        <div id="item-date" class="eventItemThumbnailDate">{{item.date}}</div>
                        <!-- Publisher -->
                        <div id="item-publisher" class="eventItemThumbnailLink">{{item.publisher}}</div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>