<!-- View for the share buttons -->
<div ng-repeat="share in ShareController.shareSiteList">
    <!-- Buttons are stacking from the right. The Share url can be the current/absolute path -->
    <button class="custom-btn pull-left"
            socialshare
            socialshare-provider="{{share.provider}}"
            socialshare-text="{{ DetailCtrl.item.description }}"
            socialshare-hashtags="LiveArena"
            socialshare-media="{{DetailCtrl.item.display_imgUrl}}"
            socialshare-url="https://livearena.com">
            <!--socialshare-url="{{ $location.absUrl() }}">-->
        <span class="fa fa-3x {{share.imgUrl}} {{share.color}}"></span>
    </button>
</div>
<!-- socialshare-media="{{DetailCtrl.item.display_imgUrl}}" -->
<!-- socialshare-media="https://bcstatic.blob.core.windows.net/play-site-images/6e53010d-0696-47ff-a4b7-4d132e5033fe-LiveArena_Hockey_HOMEpage_logo.jpg?sv=2014-02-14&sr=c&si=play-site-images&sig=UDp4nJ6iZAyz9R0M7qIG8Qs865OEXHFZUzyixC8ELnU%3D" -->