<!-- View for the share buttons -->
<div>

    <!-- Buttons are stacking from the right. The Share url can be the current/absolute path -->
    <button class="custom-btn pull-right" ng-repeat="share in ShareController.shareSiteList"
            socialshare
            socialshare-provider="{{share.provider}}"
            socialshare-text="On Live Arena!"
            socialshare-hashtags="LiveArena"
            socialshare-url="http://livearena.com">
        <span class="fa fa-2x {{share.imgUrl}} {{share.color}}"></span>

    </button>

</div>
<!--socialshare-url="{{ $location.absUrl() }}">-->