
<div class="jumbotron">
    
        <div class="row" align="center">
            <!-- Display Title -->
            <h2 style="text-align:center;">{{imageService.currentImage.title}}</h2>
        </div>

        <div class="row" align="center">
            <div class="col-md-8 col-md-offset-2">
                <!-- Display Image -->
                <img ng-src="{{imageService.currentImage.url}}"
                     style="width:600px;height:450px;"
                     title="{{imageService.currentImage.title}}" />
            </div>
            <div class="col-md-2 WhiteBox">
                <!-- Display Description -->
                <h4 style="text-align:left;">{{imageService.currentImage.description}}</h4>
            </div>
        </div>

        <div class="row" style="margin-top:5px" align="center">
            <!-- Single Image -->
            <img ng-show="imageService.imageList" ng-repeat="image in imageService.imageList"
                 ng-src="{{image.url}}"
                 style="width:100px; height:75px; justify-content:center;"
                 title="{{image.title}}"
                 ng-click="imageService.setCurrentImage(image)" />
        </div>

</div>


