
<div class="jumbotron">
    <div class="row" align="center">
        <!-- Display Title -->
        <h2 style="text-align:center;">{{imageService.currentImage.title}}</h2>
    </div>

    <div class="row" align="center">
        <div class="col-md-2">
            <div class="row">
                <div style="font-size:large"><u>Share it!</u></div>
            </div>
            <div class="row">
                <!-- dynamic sharing list -->
                <button class="btn btn-medium font-bold" ng-repeat="share in imageService.shareSiteList"
                        socialshare
                        socialshare-provider="{{share.provider}}"
                        socialshare-text="{{imageService.currentImage.title}}: {{imageService.currentImage.description}}"
                        socialshare-hashtags="ImageViewer, sharing"
                        socialshare-url="{{imageService.currentImage.url}}">
                    <i class="{{share.img_url}}" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div class="col-md-8">
            <!-- Display Image -->
            <img ng-src="{{imageService.currentImage.url}}"
                 style="width:600px;height:450px;"
                 title="{{imageService.currentImage.title}}" />
        </div>
        <div class="col-md-2 WhiteBox">
            <!-- Display Description -->
            <h4 style="text-align:left;">{{imageService.currentImage.description}}</h4>
        </div>
    </div>

    <div class="row" style="margin-top:5px" align="center">
        <!-- Single Image -->
        <img ng-show="imageService.imageList" ng-repeat="image in imageService.imageList"
             ng-src="{{image.url}}"
             style="width:100px; height:75px; justify-content:center;"
             title="{{image.title}}"
             ng-click="imageService.setCurrentImage(image)" />
    </div>
</div>

